{% extends 'base.html' %}
{% load static %}

 
<!DOCTYPE html>
<html lang="en">

{% block head%}

  

<head>

  
    <!--Inicio carga de recursos para la grafica -->
    <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
     <!--fin carga de recursos para la grafica -->


 
<!-- Custom styles for this page -->
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

</head>
{% endblock head %}

{% block content %}     
         
<body id="page-top">

   
    <!-- Page Wrapper -->
    <div id="wrapper">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Registro de transacción:&nbsp;</h1>
				
                    </div>
					

					
                    <!-- Content Row -->
            <div class="row">



              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                   
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    <h4>Nuevo Ingreso </h4>
                                    <form  method="post"> 
                                    
                                    {% csrf_token %}
                                    {{form_ing.as_ul}}    
                                                                          
                                
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><input type="submit" value="+" class="btn btn-success btn-circle" /></div>
                                </form> 
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>


            
                        <h3 class="puto">Balance de Enero 2022:        $000.000&nbsp;</h3>
                        
                   
               
                            
                    
                       
                    
                    <!-- Pie Chart -->
                     
                            <div class="card shadow mb-4">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="container"></div>
                                        </div>
                                    </div>
                                </div>
                                <script type="application/javascript">
                                    Highcharts.chart('container', {
                                        chart: {
                                            type: 'column'
                                        },
                                        title: {
                                            text: 'Ingresos año 2022'
                                        },
                                        subtitle: {
                                            text: 'Columnas'
                                        },
                                        xAxis: {
                                            categories: [
                                                'Enero',
                                                'Febrero',
                                                'Marzo',
                                                'Abril',
                                                'Mayo',
                                                'Junio',
                                                'Julio',
                                                'Agosto',
                                                'Septiembre',
                                                'Octubre',
                                                'Noviembre',
                                                'Diciembre'
                                            ],
                                            crosshair: true
                                        },
                                        yAxis: {
                                            min: 0,
                                            title: {
                                                text: 'Valores $'
                                            }
                                        },
                                        tooltip: {
                                            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                                '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
                                            footerFormat: '</table>',
                                            shared: true,
                                            useHTML: true
                                        },
                                        plotOptions: {
                                            column: {
                                                pointPadding: 0.2,
                                                borderWidth: 0
                                            }
                                        },
                                        series: [{
                                            name: 'Ingresos',
                                            data: {{ graph_sales_year_month|safe }}
                                            
                                            
                            
                                        }]
                                    
                                    });
                                </script>
                            </div>
                      
                        
                          
                  

                    <h3 class="puto">Bolsillos&nbsp;</h3>
                    <!-- Content Row -->
                    <div class="bolsillos">
                        

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Davivienda
                            
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">000.000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- Earnings (Monthly) Card Example -->
                     <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Bancolombia Corriente
                            
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">000.000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- Earnings (Monthly) Card Example -->
                     <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Paypal
                            
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">000.000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Nequi
                            
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">000.000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                

            
                <!-- /.container-fluid -->

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Historial Ingresos</h6>

                        <a href="{% url 'sale_invoice_pdf' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Valor</th>
                                        <th>Caregoría</th>
                                        <th>Bolsillo</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Valor</th>
                                        <th>Caregoría</th>
                                        <th>Bolsillo</th>
                                        <th>Fecha</th>
                                        <th>Usuario</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                     <!-- Aquí comenzamos el bucle for para mostrar el historial de las transacciones-->
                                    {% for Ingreso in Historial_Ingresos %}
                                    <tr>
                              
                                        <td>{{ Ingreso.Nombre }}</td>
                                        <td>{{ Ingreso.Valor }}</td>
                                        <td>{{ Ingreso.Categoría }}</td>
                                        <td>{{ Ingreso.Bolsillo_Afectado }}</td>
                                        <td>{{ Ingreso.timestamp }}</td>
                                        <td>{{ Ingreso.Usuario }}</td>
                                    </tr>
                                    {% endfor %}
                                    <!--Aquí terminamos el bucle for que sirve para mostrar el historial de transacciones-->
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

           
            <!-- /.container-fluid -->


            </div>
            <!-- End of Main Content -->

          

        </div>
        <!-- End of Content Wrapper -->

  
        
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>



    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>




  

           
</body>

{% endblock content %}
</html>