<h3>Customer form</h3>
<hr>

<form action="" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>




<input type="text" name="Valor" placeholder="$ Valor"> 


<div id="ingreso">
    <input type="radio" name="Tipo" value="Ingreso" />Ingreso
</div>
<div id="egreso">
    <input type="radio" name="Tipo" value="Egreso" />Egreso
</div>
<label for="Categoria">Categoria:</label>
<select name="Categorias">
    <option disabled="">Selecciona la categoria</option>
    <option value="Nominas">Nominas1</option>
    <option value="Nominas">Nominas2</option>
    <option value="Nominas">Nominas3</option>
</select>

<label for="Categoria">Bolsillo:</label>
<select name="Categorias">
    <option disabled="">Selecciona la categoria</option>
    <option value="Nominas">Cuenta1</option>
    <option value="Nominas">Cuenta2</option>
    <option value="Nominas">Cuenta3</option>
</select>

<input type="text" name="Nota" placeholder="Nota (Opcional)"> 